.normaltext{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 3em;
    letter-spacing: 0.055em;
    color: #14279B;
}

.boldtext{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 3em;
    letter-spacing: 0.055em;
    color: #002265;
}