.footer {
    margin-top: -7em;
}
.footer-link{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 3em;
    letter-spacing: 0.055em;
    color: black;
}

.footer img{
    width: 100%;
}